
.form{
    padding: 50px;
    margin: 5% 20% 5%;
    border: 1px solid rgb(187, 185, 185);
}
h2{
    text-align: center;
}
.form-select{
    width: 45%;
}
.radioButton, 
.Nome, 
.contato, 
.endereco,
.regiao{
    display: flex;
}
.form-control{
    width: 90%;
}
.radioButton{
    margin: 10px 0 10px 0;
    width: 25%;
    justify-content: space-between;
}
.input {
    width: 80%;
}
p{
    margin:0 80px 0 5px;
}

@media (max-width: 600px) {
    .form{
        margin: auto;
        padding: auto;
    }
    .radioButton, 
    .Nome, 
    .contato, 
    .endereco,
    .regiao{
        flex-direction: column;
    }
    .input {
        width: 100%;
    }
    .form-select{
        width: 90%;
    }
}